<!-- <button (click)="condicion = !condicion">Ver</button>
<ng-template #textoalternativo>Texto alt</ng-template>
<div *ngIf="condicion; else textoalternativo"> -->
<!-- <app-random-number></app-random-number> -->
<!-- <app-colores></app-colores>
  <app-colores></app-colores>
  <app-colores></app-colores>
</div> -->

<!-- <h2>Ejemplo de un NGSwitch</h2>
<ul [ngSwitch]="so">
  <li *ngSwitchCase="'Windows'">El que usan todos los  mortales de a pie.</li>
  <li *ngSwitchCase="'Mac'">El que usan los que tienen pasta.</li>
  <li *ngSwitchCase="'Linux'">Programador de siempre.</li>
  <li *ngSwitchDefault>Introduzca tu S.O. favorito.</li>
</ul>
<input type="text" [(ngModel)]="so">

<div [ngStyle]="{ 'background': color }">Texto fondo rojo</div>
<button (click)="color = 'yellow'" [ngClass]="color === 'yellow'? 'yellow' : ''">Amarillo</button>
<button (click)="color = 'purple'" [ngClass]="color === 'purple' ? 'purple' : ''">Purpura</button>
<button (click)="color = 'blue'" [ngClass]="color === 'blue' ? 'blue' : ''">Azul</button> -->

<!-- <app-libros></app-libros> -->
<app-cabecera></app-cabecera>
<router-outlet></router-outlet>
<app-footer></app-footer>

