<div class="container-fluid col-12 d-flex flex-row">
  <div class="col-12 p-3 mr-1 ml-1 d-flex flex-row justify-content-center">
    <img src="{{libro.imagen}}" class="rounded col-4 mr-auto ml-auto mb-1" alt="image">
    <div class="d-flex flex-column col-8 p-3">
      <h1>{{libro.titulo}}</h1>
      <h4>Autor: {{libro.autor}}}</h4>
      <h4>Año: 2020</h4>
      <h4>Editorial: Springer</h4>
      <!-- <p>Id - {{id}}</p> -->
      <div class="d-flex flex-row justify-content-end">
        <button type="button" class="btn btn-primary">Leer</button>
        <button type="button" class="btn btn-primary">Editar metadatos</button>
        <button type="button" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>
